
/* ******************************************
            Text typing Effect Starts
*********************************************/
.textEffect{
    height: 100vh;
    background-color:rgb(18, 149, 158);
    display: flex;
    align-items: center;
    justify-content: center;
}
.textEffect h1{
    width: 0ch;
    white-space: nowrap;
    overflow: hidden;
    animation: textEffect 8s steps(17) infinite;
    border-right: 3px solid black;
}

@keyframes textEffect{
    0%{
        width: 0ch;
    }
    50%{
        width: 15ch;
    }
}
/* ******************************************
            Text typing Effect Ends
*********************************************/


