*{
    margin: 0;
    padding: 0;
}

:root{
    --body-color:#efefef;
    --font-color:#000;
    --footer-bg-color:#bfbfbf;
    --icon-color:#000;
}
.dark-thim{
    --body-color:#0a0a0a;
    --font-color:#fff;
    --footer-bg-color:#000;
    --icon-color:#fff;
}








body{
    font-family: 'Oswald', sans-serif;
    background: var(--body-color);
    transition:background 0.3s ;
}
.navbar-brand img {
	position: absolute;
	top: 2px;
	left: auto;
	z-index: 999;
}
.navbar-collapse.collapse.show {
	padding-top: 50px;
}
.navbar-expand-lg .navbar-collapse {
	justify-content: end;
}
.font-bold{
    font-weight: bolder;
}
.clearfix::after{
    content: " ";
    display: block;
    visibility: hidden;
}
.row.row-inner01{
	padding: 0px 7px;
}
.prom-cl, .prom-bn{
    height: 35px;
    margin-top: 6px;
}
.bg-01{
    background: url(./img/homeImage.jpg) no-repeat center center ;
    height: 400px;
}
.bg-01 p{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    height: 400px;
}
.bg-02{
    background: url(./img/wetlands.jpg) no-repeat center center ;
    background-size: cover;
    transition: .5s;
    border-radius: 10px;
    width: 64%;
    margin-right: 2%;
    padding: 200px 0;
}
.bg-02:hover{
    transform: scale(1.02);
}
.bg-03{
    background: url(./img/sugarcaneMan.jpg) no-repeat center center ;
    background-size: cover;
    transition: .5s;
    border-radius: 10px;
    padding: 200px 0;
}
.bg-03:hover{
    transform: scale(1.02);
}
.dmain-conten-01{
    width: 100%;
    height: auto;
}
.div-001 {
    width: 20%;
    height: auto;
    position: relative;
    float: left;
    margin-right: 12px;
    transition: .5s;
}
.div-001:hover{
    transform: scale(1.07);
}
.div-002:hover{
    transform: scale(1.03);
}
.div-002 {
    width: 57.7%;
    height: auto;
    float: left;
    position: relative;
    transition: .5s;
}
.div-001 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.div-002 img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.img-text{
    position: absolute;
    left: 0;
    bottom: 0;
}
.img-text-01 {
    position: absolute;
    right: 25%;
    bottom: 3px;
}

.box-img{
    box-sizing: border-box;
    height: 245px;
    width: auto;
    border-radius: 20px;
    max-width: 100%;
}
.col-lg-2 {
    width: 13.7%;
    padding: 0;
    margin-right: 5px;
    transition: .4s;
}
.col-lg-2:hover{
    transform: scale(1.04);
}
.row > .col-lg-2:nth-child(7){
    margin-right: 0;
}
a.a-class{
    color: white;
    text-decoration: none;
}
.text-item a.a-class{
    text-decoration: none;
    color: #212529;
}
.section-03 .sec-col-03{
    width: 30%;
    height: 530px;
    padding: 0;
    position: relative;
    transition: .4s;
    float: left;
}
.section-03 .sec-col-04{
    width: 70%;
    height: 530px;
    position: relative;
    transition: .4s;
    float: right;
}
.sec-col-04:hover{
    transform: scale(1.03);
}
.sec-col-03:hover{
    transform: scale(1.03);
}
.section-03 .sec-col-03 img{
    width: max-content;
    border-radius: 15px;
}
.section-03 .sec-col-04 img{
    width: max-content;
    border-radius: 15px;
}
.sec-col-03 .img-text{
    left: 20%;
    bottom: 25px;
}
.sec-col-04 .img-text{
    margin-left: 63%;
    margin-bottom: 25px;
}
.section-04, .section-05 .sec-04{
    transition: .4s;
}
.section-04 .sec-04:hover, .section-05 .sec-04:hover{
    transform: scale(1.01);
}
.section-06 img {
    border-radius: 15px 30px 30px 15px;
}
.footer-section{
    background-color:var(--footer-bg-color);
    padding: 30px;
}
.footer-section .container{
    max-width: 1000px;
    margin: 0 auto;
}
.footer-section .container img{
    width: 12%;
    height: auto;
}
.p-address{
    font-size: 14px;
}
.icon a{
   color: black;
   text-decoration: none;
}

/* **********************************************
                    Accordion  starts
************************************************/
.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2212";
  }
  .accordion{
	background: white;
    font-weight: 400;
}
.accordion:hover{
	background: #e9ecef;
}
.accordion:hover ~ .panel {
	max-height: 120px;
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel:hover{
    max-height: 120px;
}
.panel a:hover{
    background-color: #f1f1f1;
}
.panel a{
    color: black;
}
.p-2 {
display: block;
}
/* **********************************************
                Accordion  Ends
************************************************/

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link {
	color: rgb(240, 231, 231);
}
.fa.fa-bars {
	color: white;
	font-size: 35px;
	transition-property: color;
	transition-duration: .5s;
}
.fa.fa-bars:hover {
	color: #f88409;
}
.section-03 .container .row.pt-3 {
	padding-left: 10px;
}
.row.position-relative {
	padding-left: 10px;
}
.div01 a i, .icon a {
	transition-property: color;
	transition-duration: .5s;
}
.div01 a i:hover, .icon a:hover {
	color: #ff0078;
}
.main-item {
	transition: .5s;
}
.main-item:hover {
	transform: scale(1.02);
}
.footer-section p {
	margin: 0;
	padding-top: 33px;
	font-size: 15px;
	text-align: center;
	color: #434343;
}
.footer-section {
	padding-bottom: 5px;
}
.div02 a:nth-child(1) {
	padding-left: 0 !important;
}
/* ****************************************
        Dark and Lighi Mode starts
*******************************************/
#Dark-btn{
    margin-right: 10px;
    background-color: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background-color 0.5s ; 
    border: 2px solid #ccc;
}
#Dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}
#Dark-btn.dark-bnt-on{
    padding-left: 23px;
    background-color: black;
}
.footer-section .p-address{
    color: var(--font-color);
}
.container h2.font-bold,
.container .text-hedder.text-center.pt-5.pb-2 p,
.col-md-4.col-sm-6.col-2 .a-class .main-item p,
.footer-section p,
.footer-section a,
.footer-section .p-address
{
    color: var(--font-color);
}
.footer-section .div01 a {
	color: var(--icon-color) !important;
}

/* Tooltip */
#Dark-btn{
    position: relative;
}

#Dark-btn .tooltip {
	position: absolute;
	left: 0px;
	bottom: -55px;
	background: black;
	white-space: nowrap;
	padding: 5px;
	border-radius: 4px;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	width: 100px;
	height: 28px;
	padding-bottom: 25px;
}
#Dark-btn .tooltip::before {
	content: " ";
	position: absolute;
	border: 10px solid transparent;
	border-left: 12px solid black;
	transform: rotate(-90deg);
	bottom: 25px;
	left: 11px;
}
#Dark-btn:hover .tooltip{
    opacity:1;
    visibility:visible;
}






/* ****************************************
        Dark and Lighi Mode ends
*******************************************/














