[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Rejaul Karim
	email = 85983722+DeveloperRejaul@users.noreply.github.com
